<h1>TickTackToe Time!</h1>
<div>
<p>This is a game of TickTackToe! Empty eggs will be represented with a grey color. Simply click to place your piece. Green Circles goes first then Red X's. Good Luck :)</p>
<br>
<p>PS: Game currently does not work at all. Pieces are below though</p>
</div>