<!DOCTYPE html>
<html>
<head>
  <title>Ticktack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
fixed
{
position: fixed;
top:600px;
left:150px;
}

preg{
position: fixed;
top:225px;
left:200px;

}

g5
{
position: fixed;
top:385px;
left:565px;
}

g4
{
position: fixed;
top:385px;
left:415px;
}

g6
{
position: fixed;
top:385px;
left:725px;
}

g2
{
position: fixed;
top:225px;
left:565px;
}

g1
{
position: fixed;
top:225px;
left:415px;
}

g3
{
position: fixed;
top:225px;
left:725px;
}

g8
{
position: fixed;
top:545px;
left:565px;
}

g7
{
position: fixed;
top:545px;
left:415px;
}

g9{
position: fixed;
top:545px;
left:725px;
}

r1{

position: fixed;
top:110px;
left:575px;

}


</style>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>var track=0; </script>
<preg>
<button class="col-sm-5 egg">
click on eggs to place
</button>
</preg>

<g1>
<button id="g1" type="button" class="col-sm-5 egg" onclick="myfunc(this,track); track=track + 1;ifWin();">

</button>
</g1>

<g2>
<button id="g2" type="button" class="col-sm-5 egg" onclick="myfunc(this,track); track=track + 1;ifWin();">
 
</button>
</g2>

<g3>
<button id="g3" type="button" class="col-sm-5 egg" onclick="myfunc(this, track  ); track=track + 1;ifWin();">
  
</button>
</g3>

<g4>
<button id="g4" type="button" class="col-sm-5 egg" onclick="myfunc(this, track  ); track=track + 1;ifWin();">
 
</button>
</g4>

<g5>
<button id="g5" type="button" class="col-sm-5 egg" onclick="myfunc(this, track  ); track=track + 1;ifWin();">
 
</button>
</g5>

<g6>
<button id="g6" type="button" class="col-sm-5 egg" onclick="myfunc(this, track  ); track=track + 1;ifWin();" >

</button>
</g6>

<g7>
<button id="g7" type="button" class="col-sm-5 egg" onclick="myfunc(this, track  ); track=track + 1;ifWin();">
 
</button>
</g7>

<g8>
<button id="g8" type="button" class="col-sm-5 egg" onclick="myfunc(this, track  ); track=track + 1;ifWin();">
 
</button>
</g8>

<g9>
<button id="g9" type="button" class="col-sm-5 egg" onclick="myfunc(this, track ); track=track + 1; ifWin();">
  
</button>
</g9>

<fixed>
<div class="col-sm-5 linetop">
<div class="col-sm-5 linebottom">


<!--  -->

</div>
</div>


</fixed>
<r1>
<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh">
</FORM>
</r1>

<%= yield %>

</body>
</html>
