<!DOCTYPE html>
<html>
<head>
  <title>Ticktack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<style>
fixed
{
position: fixed;
top:300px;
left:150px;
}


}

</style>
</head>
<body>
<fixed>

<div class="col-sm-5 cross ">

</div>

<div class="col-sm-5 circle">

</div>


<div class="col-sm-5 egg">

</div>

<div class="col-sm-8 linetop">

</div>

</fixed>

<%= yield %>

</body>
</html>
